body{
    max-width: 100%;
    max-height: 100%;
    background-color: #fff8f8;
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.container{
    max-width: 400px;
    display:block;
    background-color: #fff6ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.513);
    padding: 30px;
    justify-content: center;
    border-radius: 10px;
}

.user-image{
    width: 180px;
    height: 180px;
    border-radius:50%;
    object-fit: cover;
    align-items: center;
    margin: 0 auto;
}

.image{
    padding-left: 120px;
}

.user-name{
    text-align: center;
    margin:10px;
    color:rgba(0, 0, 0, 0.619)
}

.description{
    text-align: center;
    margin: 10px;
    white-space: nowrap;       /* very important*/
    color:rgba(0, 0, 0, 0.639)
}

.user-email{
    text-align: center;
    margin: 10px;
    color: rgba(43, 41, 41, 0.506);
}
.user-follwers{
    text-align: center;
    margin: 10px;
    color: rgba(43, 41, 41, 0.506);
}




